
<!-- Post List Start -->

<h4 align="left">
    <strong>
            {{ post.date | date: '%d' }}
            {% assign m = post.date | date: '%-m' %}
            {% case m %}
               {% when '1' %}Ocak
               {% when '2' %}Şubat
               {% when '3' %}Mart
               {% when '4' %}Nisan
               {% when '5' %}Mayıs
               {% when '6' %}Haziran
               {% when '7' %}Temmuz
               {% when '8' %}Ağustos
               {% when '9' %}Eylül
               {% when '10' %}Ekim
               {% when '11' %}Kasım
               {% when '12' %}Aralık
            {% endcase %} 
            {{ post.date | date: '%Y' }}
    </strong>
    <small>.
    <a class="category" href="{{site.baseurl}}/categories/{{ post.category | downcase }}.html">
      {{ post.category }}
    </a>
  .</small>
  <br class="visible-xs-block">
  <a href="{{site.baseurl}}{{post.url}}">
    <strong>{{ post.title }}</strong>
  </a>
  <br class="visible-xs-block">
  <small><a href="{{site.baseurl}}{{post.url}}#disqus_thread">Yorumlar</a></small>
</h4>

<!-- Post List End -->
