// Variables

// Main color
$primary-color: #fff;

// Anchor color
$secondary-color: #607d8b;

// Font color
$font-color: #000;

$header-background-color: $primary-color;
$intro-text-color: $font-color;
$navbar-color: $font-color;
$navbar-lg-collapse-background-color: $header-background-color;
$navbar-lg-background: transparent;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;

$social-buttons-color: $secondary-color;
